
    {% for mat in mats %}
        <div class="col-lg-4 col-md-6">
            <div class="hotel">
                <div class="hotel-img">
                    <img src="{{ asset('uploads/images/' ~ mat.image) }}" alt="Speaker 1" class="img-fluid">
                </div>
                <h3><a href="#">{{ mat.nom }}</a></h3>
                <p>Prix : {{ mat.prix }}</p>
                <ul class="nav-menu">
                    {% if mat.Fablab =="" %}
                    <li class="buy-tickets"><a href="{{ path('mat_panier_ajout', {'id':mat.id}) }}">
                            Ajouter aux panier</a>
                        {% endif %}
                    </li> <li class="buy-tickets"><a href="{{ path('detail_materiel', {'id':mat.id}) }}">    Detail     </a></li>
                </ul>
            </div>

        </div>

    {% endfor %}
