{% extends '::admin.html.twig' %}

{% block aditional_meta %}
<link rel="stylesheet" href="{{asset('admin_events/css/event.css')}}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="{{asset('admin_events/js/bootstrap-datepicker.js')}}"></script>
{% endblock %}

{% block sidebar %}
<li><a class="app-menu__item" href="{{path('admin_evenement')}}"><i class="app-menu__icon fa fa-dashboard"></i><span
            class="app-menu__label">Evenements</span></a></li>
<li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i
            class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">gestion evenements</span><i
            class="treeview-indicator fa fa-angle-right"></i></a>
    <ul class="treeview-menu">
        <li><a class="treeview-item" href="{{path('admin_evenement_categories')}}"><i class="icon fa fa-circle-o"></i>
                liste
                categories</a></li>
        <li><a class="treeview-item" href="{{path('admin_evenement_events_signales')}}"><i
                    class="icon fa fa-circle-o"></i> evenements signalés</a>
        </li>
        <li><a class="treeview-item" href="{{path('admin_evenement_events_bloques')}}"><i
                    class="icon fa fa-circle-o"></i> evenements
                bloques</a></li>
    </ul>
</li>
{% endblock %}

{% block title_h1 %}
Gestion d'evenements
{% endblock %}

{% block aditional_path %}
<li class="breadcrumb-item"><a href="#">Evenement</a></li>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <div class="widget-small primary"><i class="icon fa fa-users fa-3x"></i>
                    <div class="info">
                        <h4>utilisateurs</h4>
                        <p><b>5</b></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="widget-small info"><i class="icon fa fa-rss fa-3x"></i>
                    <div class="info">
                        <h4>Evenements</h4>
                        <p><b>25</b></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="widget-small warning"><i class="icon fa fa-thumbs-o-up fa-3x"></i>
                    <div class="info">
                        <h4>Inscriptions</h4>
                        <p><b>10</b></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="widget-small danger"><i class="icon fa fa-star fa-3x"></i>
                    <div class="info">
                        <h4>Favoris</h4>
                        <p><b>500</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block event_body %}

    <div class="col-md-8 tile offset-2">
        <div class="row">
            <div class="col-md-4 offset-4">
                <input type="text" id="year_pickr" class="form-control" placeholder="selectionner une date">
            </div>
        </div>
        <hr>
        <canvas width="100%" id="chart_js" data-href="{{path('admin_evenement_chart')}}"></canvas>
    </div>
    {% endblock %}
    <script>
    </script>
</div>
{% endblock %}

{% block additional_js %}
<script src="{{asset('admin_events/js/adminEvent.js')}}"></script>
{% endblock %}