{% extends 'base.html.twig' %}
{% block body %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Creation Pack</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">


        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">

        <!-- Bootstrap CSS File -->
        <link href="{{ asset('lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Libraries CSS Files -->
        <link href="{{ asset('lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('lib/prettyphoto/css/prettyphoto.css') }}" rel="stylesheet">
        <link href="{{ asset('lib/hover/hoverex-all.css') }}" rel="stylesheet">
        <link href="{{ asset('lib/jetmenu/jetmenu.css') }}" rel="stylesheet">
        <link href="{{ asset('lib/owl-carousel/owl-carousel.css') }}" rel="stylesheet">

        <!-- Main Stylesheet File -->
        <link href="{{ asset('csss/style.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('csss/colors/blue.css') }}">
        <!--DatePicker-->
        <link rel="stylesheet" href="{{ asset('script/common.css') }}">
        <script src="{{ asset('script/common.js') }}"></script>


    </head>

    <body>

    <section class="section1">
        <div class="container clearfix">
            <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h4 class="title">Creation du Pack</h4>
                    <form class="AVAST_PAM_signupform AVAST_PAM_loginform">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-form-label" for="inputDefault">Nom du Pack</label>
                                <input type="text" class="form-control" placeholder="" id="inputDefault">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label" for="inputDefault">Lieu</label>
                                <input type="text" class="form-control" placeholder="" id="inputDefault">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email@example.com">
                                <small id="emailHelp" class="form-text text-muted"></small>
                            </div>
                            <div class="form-group">
                                <label for="exampleTextarea">Descripton de l'événement</label>
                                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleTextarea">Descripton de l'organisateur</label>
                                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </fieldset>
                    </form>
                </div>

                <div class="clearfix"></div>
                <div class="divider"></div>

            </div>
        </div>
    </section>

    <div class="dmtop">Scroll to Top</div>

    <!-- JavaScript Libraries -->
    <script src="{{ asset('lib/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('lib/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('lib/php-mail-form/validate.js') }}"></script>
    <script src="{{ asset('lib/prettyphoto/js/prettyphoto.js') }}"></script>
    <script src="{{ asset('lib/isotope/isotope.min.js') }}"></script>
    <script src="{{ asset('lib/hover/hoverdir.js') }}"></script>
    <script src="{{ asset('lib/hover/hoverex.min.js') }}"></script>
    <script src="{{ asset('lib/unveil-effects/unveil-effects.js') }}"></script>
    <script src="{{ asset('lib/owl-carousel/owl-carousel.js') }}"></script>
    <script src="{{ asset('lib/jetmenu/jetmenu.js') }}"></script>
    <script src="{{ asset('lib/animate-enhanced/animate-enhanced.min.js') }}"></script>
    <script src="{{ asset('lib/jigowatt/jigowatt.js') }}"></script>
    <script src="{{ asset('lib/easypiechart/easypiechart.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>



    </body>
    </html>
{% endblock %}