{% extends 'tempAdmin.html.twig' %}

{% block body %}
<div class="col-6 offset-3">
    <div class="col-6 offset-3">
    <h1>typeLog list</h1>

    <table class = "table table-condensed">
        <thead>
        <tr>
            <th>Id</th>
            <th>Libelle</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for typeLog in typeLogs %}
            <tr>
                <td><a href="{{ path('typelog_show', { 'id': typeLog.id }) }}">{{ typeLog.id }}</a></td>
                <td>{{ typeLog.libelle }}</td>
                <td>
                            <a href="{{ path('typelog_show', { 'id': typeLog.id }) }}" class = "btn btn-info">show</a>



                </td>
                <td>

                    <a href="{{ path('typelog_edit', { 'id': typeLog.id }) }}" class = "btn btn-warning">edit</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>{{ knp_pagination_render(typeLogs) }}</div>
    <ul>
        <li>
            <a href="{{ path('typelog_new') }}">Create a new catgMateriel</a>
        </li>
    </ul>
</div>
</div>
{% endblock %}
