{% extends 'base.html.twig' %}
{% block body %}
    <!DOCTYPE html>
    <html lang="fr">
    <head>

        <!-- SITE TITTLE -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Profil</title>

        <!-- PLUGINS CSS STYLE -->
        <link href="{{ asset('profil/plugins/jquery-ui/jquery-ui.min.css') }}" rel="stylesheet">
        <link href="{{ asset('profil/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('profil/plugins/slick-carousel/slick/slick.css') }}" rel="stylesheet">
        <link href="{{ asset('profil/plugins/slick-carousel/slick/slick-theme.css') }}" rel="stylesheet">
        <link href="{{ asset('profil/plugins/fancybox/jquery.fancybox.pack.css') }}" rel="stylesheet">
        <link href="{{ asset('profil/plugins/jquery-nice-select/css/nice-select.css') }}" rel="stylesheet">
        <link href="{{ asset('profil/plugins/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css') }}" rel="stylesheet">
        <link href="{{ asset('profil/css/style.css') }}" rel="stylesheet">


    </head>

    <body class="body-wrapper">

    <section class="dashboard section">
        <!-- Container Start -->
        <div class="container">
            <!-- Row Start -->
            <div class="row">
                <div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
                    <div class="sidebar">
                        <!-- User Widget -->
                        <div class="widget user-dashboard-profile">
                            <!-- User Image -->
                            <div class="profile-thumb">
                                <img src="{{ asset('profil/prof.jpg') }}" alt="" class="rounded-circle">
                            </div>
                            <!-- User Name -->
                            <h5 class="text-center">Rania Antar</h5>
                        </div>
                        <!-- Dashboard Links -->
                        <div class="widget user-dashboard-menu">
                            <ul>
                                <li class ="active" ><a href="{{ path('profil_homepage') }}"><i class="fa fa-bookmark-o"></i> Mes Offres </a></li>
                                <li><a href="{{ path('mesDemandes_homepage') }}"><i class="fa fa-bookmark-o"></i> Mes Demandes </a></li>
                                <li><a href="{{ path('ajoutOffre_page') }}"><i class="fa fa-star"></i> Créer une offre de sponsoring </a></li>
                                <li><a href="{{ path('ajoutDemande_page') }}"><i class="fa fa-star"></i> Créer une demande de sponsoring </a></li>
                                <li><a href="{{ path('create_reclamation') }}"><i class="fa fa-star"></i> Créer une lettre de reclamation </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
                    <!-- Recently Favorited -->
                    <div class="widget dashboard-container my-adslist">
                        <h3 class="widget-header">Details du Sponsor</h3>
                        <div class="container-fluid">
                            <div class="row wow fadeIn">
                                <div class="col-md-6 mb-4">
                                    <img src="{{ asset('uploads/images/' ~ offre.image) }}" class="img-fluid" alt="">
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="p-4">
                                        <p class="lead font-weight-bold">Titre : </p>
                                        <p>{{ offre.nomSponsors }}</p>
                                        <p class="lead font-weight-bold">Adresse : </p>
                                        <p>{{ offre.adresse }}</p>
                                        <p class="lead font-weight-bold">E-mail : </p>
                                        <p>{{ offre.eMail }}</p>
                                        <p class="lead font-weight-bold">Description : </p>
                                        <p>{{ offre.descriptionOffre }}</p>
                                    </div>
                                </div>
                                <nav aria-label="navigation">
                                    <ul class="pager">
                                        <li class="previous"><a href="{{ path('profil_homepage') }}" title="Précédent">Retour</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- JAVASCRIPTS -->
    <script src="{{ asset('profil/plugins/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('profil/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('profil/plugins/tether/js/tether.min.js') }}"></script>
    <script src="{{ asset('profil/plugins/raty/jquery.raty-fa.js') }}"></script>
    <script src="{{ asset('profil/plugins/bootstrap/dist/js/popper.min.js') }}"></script>
    <script src="{{ asset('profil/plugins/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('profil/plugins/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js') }}"></script>
    <script src="{{ asset('profil/plugins/slick-carousel/slick/slick.min.js') }}"></script>
    <script src="{{ asset('profil/plugins/jquery-nice-select/js/jquery.nice-select.min.js') }}"></script>
    <script src="{{ asset('profil/plugins/fancybox/jquery.fancybox.pack.js') }}"></script>
    <script src="{{ asset('profil/plugins/smoothscroll/SmoothScroll.min.js') }}"></script>
    <script src="{{ asset('profil/js/scripts.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>

    </body>

    </html>

{% endblock %}