{% extends 'evenementsBundle::evenement.html.twig' %}

{% block evenement_body %}
<h2>Ajouter votre evenement </h2>
<hr>
<div class="col-md-12 ">
    {% for item in app.session.flashbag.get("form_error") %}
    <div class="alert alert-danger fadeOut ">
        <p>{{item}}</p>
    </div>
    {% endfor %}
    {{form_start(form, {attr: {onSubmit:"submitForm(event, '"~path('evenements_add_event')~"' )"}})}}
    <div class="row">
        <div class="form-group col">
            {{form_label(form.titre)}}
            {{form_widget(form.titre)}}
            <small id="evenement_titre_help" class="form-text text-muted">entrer un titre significatif pour plus d'attiration</small>
        </div>
        <div class="form-group col">
            {{form_label(form.date)}}
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend"><i class="fas fa-calendar-alt"></i></span>
                </div>
                {{form_widget(form.date)}}
                <small id="evenement_date_help" class="form-text text-muted">la date doit être precise pour plus d'information</small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col">
            {{form_label(form.adresse)}}
            {{form_widget(form.adresse)}}
            <small id="evenement_adresse_help" class="form-text text-muted">l'adresse doit etre precise pou plus d'informations </small>            
        </div>
    </div>
    <div class="form-group">
        {{form_label(form.description)}}
        {{form_widget(form.description)}}
        <small id="evenement_description_help" class="form-text text-muted">entrer les details de votre evenement e.g votre planning, vos coordonnes, vos prix...</small>
    </div>
    <div class="row">
        <div class="form-group col">
            {{form_label(form.prix)}}
            {{form_widget(form.prix)}}
            <small id="evenement_prix_help" class="form-text text-muted">uniquement pour les evenements payants<br>le prix est en dollars</small>
        </div>
        <div class="form-group col">
            {{form_label(form.billetsRestants)}}
            {{form_widget(form.billetsRestants, {'type':'number', 'attr':{'min':1}})}}
            <div class="invalid-feedback">entrer un nombre de billets valide</div>
            <small id="evenement_nbr_help" class="form-text text-muted">il' est preferable d'utiliser cette option pour les evenements payants</small>
        </div>
    </div>
    <div class="row">
        <legend class="col-form-label col-md-2">
            Categories
        </legend>
        <div class=" row col-md-10">
            {% for c in form.categories %}
            <div class="form-check form-check-inline">

                    {{form_widget(c, {'attr':{'class':'form-check-input'}})}}
                    {{form_label(c)}}
            
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="form-group mt-1">
        {{form_widget(form.imageFile)}}
        <small id="evenement_image_help" class="form-text text-muted">entrer une image significatif de votre evenement. l'image doit etre claire et du format jprg ou png</small>
    </div>
    <hr>
    <div class="form-group">
        <div class="custom-control custom-checkbox my-1 mr-sm-2 ">
            <input type="checkbox" class="custom-control-input" id="termsAgree">
            <label class="custom-control-label" for="termsAgree">J'accepte les termes et conditions</label>
        </div>
        <div class="invalid-feedback">
            You must agree before submitting.
        </div>
    </div>
    <div class="row ">
        <div class="form-group col-md-7">
            {{form_widget(form.captcha)}}
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary btn-block mt-1"><i class="fas fa-check-square"></i> valider
                l'evenement</button>
        </div>
    </div>
    {{form_end(form)}}
</div>
{% endblock %}

{% block javascript %}
{{parent()}}
<script src="{{asset('js/evenements/add.js')}}"> </script>
{% endblock %}
