{% extends 'evenementsBundle::evenement.html.twig' %}

{% block evenement_body %}
<div class="mb-2 d-flex justify-content-between align-items-center">
    <div class="col-md-6">
        <select class="form-control" id="tri">
            <option value="1" {% if (app.request.get('sortBy') != 3 or app.request.get('sortBy') != 2 ) %} selected
                {% endif %}><i class="fas fa-fire"></i> evenements les plus attendus</option>
            <option value="2" {% if app.request.get('sortBy') == 2 %} selected {% endif %}><i class="fas fa-clock"></i>
                evenements les plus récents</option>
            <option value="3" {% if app.request.get('sortBy') == 3 %} selected {% endif %}><i
                    class="fas fa-calendar-alt"></i> evenements les plus proches</option>
        </select>
    </div>
    <span class="float-right" data-toggle="collapse" href="#filter" role="button" aria-expanded="false"
        aria-controls="filter"><i class="fas fa-sliders-h"></i></span>
</div>
<div class="collapse" id="filter">
    <div class="border p-2 ">
        <h6>Filtrer par :</h6>
    </div>
</div>

{% for e in evenements %}
<div class="row mb-3 mt-1 shadow rounded p-3">
    <div class="col-md-5">
        <img src="{{asset('images/evenements/'~e.urlImage)}}" class="img-fluid" style="position: relative;">
        {% if e.prix==0 %}
        <div class="shadow p-2 rounded bg-white" style="position:absolute ; top: 10px; right: 10px;">
            <small>Gratuit</small></div>
        {% endif %}
    </div>
    <div class="col-md-7 ">
        <div class="">
            <small class="float-right text-muted text-right"><i>publié le {{e.dateModification |date('d/m/y')}}</i><br>
                <cite>{{e.user.username}}</cite></small>
            <h6 class="w-50" id="event_{{e.id}}">{{e.titre}}</h6>
            <small class="text-muted"><i class="fas fa-calendar-alt"></i>
                {{e.date|localizeddate('long', 'long', 'null', null)}}</small><br>
            <small class="text-muted"><i class="fas fa-map-marker-alt"></i> {{e.adresse}}</small><br>
            <div class="row">
                <small class="text-muted col-md-3"><i class="fas fa-eye"></i> {{e.vues}} vues</small>
                <div class="col-md-9">
                    {% if e.categories is not empty %}
                    <small class="text-muted"><i class="fas fa-tag"></i></small>
                    {% for c in e.categories %}
                    <small><a href="#" style="color: gray;">#{{c.nom}}</a></small>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between ">
            <div>
                <a data-toggle="tooltip" data-placement="top" title="partager l'evenement" role="button"><i
                        class="fas fa-share-alt mr-3"></i></a>
                <a data-toggle="tooltip" data-placement="top" class="bookmark" id="bookmark_{{e.id}}"
                    title="ajouter à la liste des favoris" role="button"><i
                        class="{% if app.user in e.evenementSauvegardes %} fas {% else %} far {% endif %} fa-bookmark mr-3"></i></a>
                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-placement="top"
                    title="autre options" role="button" id="autre_{{e.id}}"><i class="fas fa-ellipsis-v mr-3"></i></a>
                <div class="dropdown-menu" aria-labelledby="autre_{{e.id}}">
                    <button class="dropdown-item" href="#" {% if e.user ==  app.user %}disabled{% endif %} ><i class="fas fa-ban"></i> signaler l'evenement</button>
                    <button class="dropdown-item" href="#" {% if e.user ==  app.user %}disabled{% endif %}><i class="far fa-envelope"></i> contacter l'organisateur</button>
                </div>
            </div>
            <a href="#" class="btn btn-primary btn-sm">afficher les details <i class="fas fa-caret-right"></i></a>
        </div>
    </div>
</div>
{% endfor %}
<div class="row">
    <div class="col-md-6 offset-md-3 mt-2 mb-3">
        {{ knp_pagination_render(evenements) }}
    </div>
</div>
<div style="display : none;" class="fixed-bottom col-md-6 alert alert-primary alert-dismissible" role="alert"
    id="alertBookmark">
    <p></p>
</div>
{% endblock %}

{% block javascript %}
{{parent()}}
<script>
    $(document).ready(function () {
        $("select").change(function () {
            var val = $("select option:selected").attr("value");
            if (val == "1")
                window.location.href = "{{path('evenements_homepage', {sortBy:1} )}}";
            if (val == "2")
                window.location.href = "{{path('evenements_homepage', {sortBy:2} )}}";
            if (val == "3")
                window.location.href = "{{path('evenements_homepage', {sortBy:3} )}}";
        });

        $(".bookmark").click(function (e) {
            var element = this;
            var id_bookmark = this.id.substr(9, );
            var eventTitle = $("h6#event_" + id_bookmark).text();
            $.post("{{path('evenements_bookmark_event')}}", {
                id: id_bookmark
            }, function (data) {
                if (data == "saved") {
                    $(element).children().first().removeClass("far").addClass("fas");
                    $(element).children().first().attr('title',
                        'supprimer de la liste des favoris');
                    $("#alertBookmark p").html("<strong>L'evenement " + eventTitle +
                        "</strong> est ajouté à la liste des favoris");
                    $("#alertBookmark").slideDown(600);
                    $("#alertBookmark").delay(3500).slideUp(600);
                } else if (data == "deleted") {
                    $(element).children().first().removeClass("fas").addClass("far");
                    $(element).children().first().attr('title',
                        'ajouter à la liste des favoris');
                    $("#alertBookmark p").html("<strong>L'evenement " + eventTitle +
                        " </strong>  est supprimé de la liste des favoris");
                    $("#alertBookmark").slideDown(600);
                    $("#alertBookmark").delay(3500).slideUp(400);
                }
            });
        });
    });
</script>

<script src="{{asset('js/evenements/evenements.js')}}">
</script>
{% endblock %}