<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Liste participants</title>
</head>

<body class="container">
    <h1> {{event.titre}} </h1>
    <h2>Liste des participants</h2>
    <hr>
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col"><i class="fas fa-user"></i> nom prenom</th>
                <th scope="col"><i class="fas fa-address-card"></i> adresse</th>
                <th scope="col"><i class="fas fa-envelope"></i> email</th>
                <th scope="col"><i class="fas fa-phone"></i> numero tel</th>
            </tr>
        </thead>
        <tbody>
            {% for ins in inscription %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{ins.user.nomPrenom}}</td>
                <td>{{ins.user.adresse}}</td>
                <td>{{ins.user.email}}</td>
                <td>{{ins.user.numeroTel}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>