{% extends 'base.html.twig' %}
{% block body %}
    <!DOCTYPE html>

    <html lang="fr">

    <head>

        <meta charset="UTF-8">
        <title>Title</title>

        <link href="{{ asset('profil/plugins/jquery-ui/jquery-ui.min.css') }}" rel="stylesheet">
        <link href="{{ asset('profil/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('profil/plugins/slick-carousel/slick/slick.css') }}" rel="stylesheet">
        <link href="{{ asset('profil/plugins/slick-carousel/slick/slick-theme.css') }}" rel="stylesheet">
        <link href="{{ asset('profil/plugins/fancybox/jquery.fancybox.pack.css') }}" rel="stylesheet">
        <link href="{{ asset('profil/plugins/jquery-nice-select/css/nice-select.css') }}" rel="stylesheet">
        <link href="{{ asset('profil/plugins/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css') }}" rel="stylesheet">
        <link href="{{ asset('profil/css/style.css') }}" rel="stylesheet">

        <link
                rel="stylesheet"
                type="text/css"
                href="http://eventsponsorship.ma/assets/ext/bootstrap/css/bootstrap.min.css">
        <link
                rel="stylesheet"
                type="text/css"
                href="http://eventsponsorship.ma/assets/css/backend.css">

        <link rel='stylesheet' id='bootstrap-css'  href='http://demo.ovathemes.com/eventmana/wp-content/themes/eventmana/assets/plugins/bootstrap/css/bootstrap.min.css?ver=5.1.1' type='text/css' media='all' />
        <link rel='stylesheet' id='font-awesome-css'  href='http://demo.ovathemes.com/eventmana/wp-content/plugins/js_composer/assets/lib/bower/font-awesome/css/font-awesome.min.css?ver=5.6' type='text/css' media='all' />
        <link rel='stylesheet' id='bootstrap-select-css'  href='http://demo.ovathemes.com/eventmana/wp-content/themes/eventmana/assets/plugins/bootstrap-select/bootstrap-select.min.css?ver=5.1.1' type='text/css' media='all' />
        <link rel='stylesheet' id='owl.carousel.min-css'  href='http://demo.ovathemes.com/eventmana/wp-content/themes/eventmana/assets/plugins/owlcarousel2/assets/owl.carousel.min.css?ver=5.1.1' type='text/css' media='all' />
        <link rel='stylesheet' id='owl.theme.default.min-css'  href='http://demo.ovathemes.com/eventmana/wp-content/themes/eventmana/assets/plugins/owlcarousel2/assets/owl.theme.default.min.css?ver=5.1.1' type='text/css' media='all' />
        <link rel='stylesheet' id='prettyPhoto-css'  href='http://demo.ovathemes.com/eventmana/wp-content/themes/eventmana/assets/plugins/prettyphoto/css/prettyPhoto.css?ver=5.1.1' type='text/css' media='all' />
        <link rel='stylesheet' id='animate-css'  href='http://demo.ovathemes.com/eventmana/wp-content/themes/eventmana/assets/plugins/animate/animate.min.css?ver=5.1.1' type='text/css' media='all' />
        <link rel='stylesheet' id='countdown-css'  href='http://demo.ovathemes.com/eventmana/wp-content/themes/eventmana/assets/plugins/countdown/jquery.countdown.css?ver=5.1.1' type='text/css' media='all' />
        <link rel='stylesheet' id='custom-css'  href='http://demo.ovathemes.com/eventmana/wp-content/themes/eventmana/assets/css/custom.css?ver=5.1.1' type='text/css' media='all' />
        <link rel='stylesheet' id='parent-stylesheet-css'  href='http://demo.ovathemes.com/eventmana/wp-content/themes/eventmana/style.css?ver=5.1.1' type='text/css' media='all' />
        <link rel='stylesheet' id='theme-style-css'  href='http://demo.ovathemes.com/eventmana/wp-content/themes/eventmana-child/style.css?ver=eventmana' type='text/css' media='all' />
        <link rel='stylesheet' id='ova_add_fix-css'  href='http://demo.ovathemes.com/eventmana/wp-content/themes/eventmana/extend/css/fix.css?ver=5.1.1' type='text/css' media='all' />
        <link rel='stylesheet' id='instag-slider-css'  href='http://demo.ovathemes.com/eventmana/wp-content/plugins/instagram-slider-widget/assets/css/instag-slider.css?ver=1.4.3' type='text/css' media='all' />
        <link rel='stylesheet' id='theme-slug-fonts-css'  href='https://fonts.googleapis.com/css?family=Raleway%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900%22%7CRoboto%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900%7CRoboto+Slab%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />


        <style type="text/css">

            a{ color: #ed4a43; }

            body,
            #main-slider .caption-subtitle,
            .countdown-amount,
            .featured-line .countdown-wrapper.countdown-featured,
            .featured-line .countdown-wrapper.countdown-featured .countdown-amount,
            .featured-line .countdown-wrapper.countdown-featured .countdown-period,
            #main-slider .slide5 .countdown-wrapper,
            #main-slider .slide5 .countdown-wrapper .countdown-amount,
            #main-slider .slide5 .countdown-wrapper .countdown-period{
                font-family: Raleway, sans-serif;
            }

            .multipage .sf-menu a,
            #main-slider .slide5 h2,
            .breadcrumbs .breadcrumb a,
            .listing-meta .filters a,
            .thumbnails.events .caption-category,
            .thumbnails.events .caption-price,
            .thumbnails.events .caption-text,
            .page-section.create-new-event p

            {
                font-family: Roboto, sans-serif;
            }

            .btn-theme {
                color: #ffffff;
                background-color: #ed4a43;
                border-color: #ed4a43;
            }

            .color .btn-theme {
                color: #ed4a43;

            }

            .schedule-wrapper .schedule-tabs.lv2 .nav > li.active > a {
                color: #ed4a43;
            }

            .timeline .post-title a {
                color: #ed4a43;
            }

            .timeline .post-readmore a:hover {
                color: #ed4a43;
            }


            .project-details .dl-horizontal dt {
                color: #3c4547;
            }

            .color .testimonials.owl-theme .owl-dots .owl-dot span {
                background-color: #ed4a43;
                border: solid 2px #ffffff;
            }

            .widget-title:before {
                background-color: #ed4a43;
            }

            .sidebar .widget-title {
                color: #ed4a43;
            }
            .thumbnails.events .caption-title a:hover{
                color: #ed4a43;
            }
            .thumbnails.events .caption-more .btn-theme:hover{
                background-color: #ed4a43;
                border-color: #ed4a43;
            }

            .thumbnails.hotels .caption-title a:hover{ color: #ed4a43; }
            .timeline a{ color: #ed4a43!important; }
            .faq-alt .panel-title a{ color: #ed4a43; }

            ul li.current_page_item a{
                color: #ed4a43!important;
            }

        </style>

    <body class="page-template page-template-templates page-template-event_list page-template-templatesevent_list-php page page-id-14 wide ltr body-light multipage woocommerce-no-js wpb-js-composer js-comp-ver-5.6 vc_responsive" >

    <div class="container_boxed">
        <div class="wrapper">
            <div class="page-section with-sidebar sidebar-right first-section">
                <div class="container">
                    <div id="sidebar" class="sidebar col-lg-3 col-md-4 col-sm-12">
                        <nav aria-label="navigation">
                            <ul class="pager">
                                <li class="previous"><a href="{{ path('Demandes_page') }}" title="Précédent">Précédent</a></li>
                            </ul>
                        </nav>
                    </div>


                    <div class="col-lg-9 col-md-8 col-sm-12 mobile_clear nopadding_mobile">
                        <div class="listing-meta list-short">
                            <div class="filters">
                                <h3 class="post-title">Details de la demande : {{ demande.titre }} </h3>
                            </div>
                        </div>


                        <div class="tab-content">
                            <div class="demarrer_page container"  >
                                <div class="col-xs-12 event--content">
                                    <div class="col-xs-12 about-event">
                                        <div class="col-md-6 mb-4">
                                            <img src="{{ asset('uploads/images/' ~ demande.image) }}" class="img-fluid" alt="">
                                        </div>
                                        <div class="about col-xs-12 pd0">
                                            <h1 class="col-xs-12 post-title">À propos de l'évènement</h1>
                                        </div>
                                        <div class="about col-xs-12 pd0">
                                            <p class="col-xs-12 post-info">
                                                {{ demande.descriptionEvenement }}
                                            </p>
                                        </div>
                                        <div class="col-xs-12 pd0 date_e_s pd0">
                                            <div class="col-xs-12 col-sm-6">
                                                <label>Date :</label><span>{{ demande.date|date('d/m/Y') }}</span>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <label>Lieu  :</label><span>{{ demande.lieu }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 the-organizer">
                                        <div class="organizer_">
                                            <h1 class="col-xs-12 post-title">À propos de l'organisateur</h1>
                                        </div>
                                        <div class="organizer_">
                                            <p class="col-xs-12 post-info">
                                                {{ demande.descriptionOrganisateur }}
                                            </p>
                                        </div>
                                        <div class="col-xs-12 pd0 date_e_s pd0">
                                            <div class="col-xs-12 col-sm-6">
                                                <label>E-mail :</label><span>{{ demande.eMail }}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 event--media">
                                        <h1 class="col-xs-12 post-title">Forfait de parrainage</h1>
                                    </div>
                                    <div class="col-xs-12 show_packages pd0">
                                        <div class="col-xs-12 col-sm-6 col-md-4 single_pack">
                                            <div class="col-xs-12 package ">
                                                <div class="col-xs-12 pd0">
                                                    <span class="title col-xs-12 pd0"><img src="http://eventsponsorship.ma/assets/img/point.png"><label>Pack</label> </span>
                                                    <span class="col-xs-12 pd0 info">{{ pack.nomPack }}</span>
                                                </div>
                                                <div class="col-xs-12 pd0">
                                                    <span class="title col-xs-12 pd0"><img src="http://eventsponsorship.ma/assets/img/point.png"><label>description</label></span>
                                                    <span class="col-xs-12 pd0 info desc">{{ pack.descriptionPack }}</span>
                                                </div>
                                                <div class="col-xs-12 pd0">
                                                    <span class="title col-xs-12 pd0"><img src="http://eventsponsorship.ma/assets/img/point.png"><label>date limite</label> </span>
                                                    <span class="col-xs-12 pd0 info">{{ pack.dateLimite|date('d/m/Y') }}</span>
                                                </div>
                                                <div class="col-xs-12 pd0">
                                                    <span class="title col-xs-12 pd0"><img src="http://eventsponsorship.ma/assets/img/point.png"><label>Nombre des participants :</label> </span>
                                                    <span class="col-xs-12 pd0 info">{{ pack.nbParticipants }}</span>
                                                </div>
                                                <div class="col-xs-12 pd0">
                                                    <span class="title col-xs-12 pd0"><img src="http://eventsponsorship.ma/assets/img/point.png"><label>prix</label> </span>
                                                    <span class="col-xs-12 pd0 info">{{ pack.prix }}</span>
                                                </div>
                                                <div class="col-xs-12 ml-5 ">
                                                    <a class="btn btn-primary ml-5 " style="background-color:#f82249 " href="{{ path('premium_payment') }}">intéressé(e)</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </body>
    </html>
{% endblock %}


