{% extends 'tempAdmin.html.twig' %}


{% block body %}
    <main class="app-content">
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="row">
                        <center><input class="form-control" id="inputDefault"  type="text" name="search" placeholder="Recherche"></center></br></br></br></br>


                        <table  id="contenu" class="table table-hover">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prix</th>
                                <th>Nombre de licence</th>
                                <th>Date Sortie</th>
                                <th>Type Logiciel</th>
                                <th>Fablab</th>
                                <th>Fournisseur</th>

                                <th>Description</th>
                                <th>Modifier</th>
                                <th>Supprimer</th>

                            </tr>
                            </thead>

                            {% for log in logs %}
                                <tbody>
                                <tr>
                                    <td>{{ log.nom }}</td>
                                    <td>{{ log.prix }}</td>
                                    <td>{{ log.nbrlicence }}</td>
                                    <td>{{ log.datesortie|date }}</td>
                                    {% if log.typeLog== "" %}
                                    <td></td>
                                {% else %}
                                    <td>{{ log.typeLog.libelle }}<td>
                                        {% endif %}
                                        {% if log.Fablab== null %}

                                {% else %}
                                    {{ log.Fablab.nom }}
                                    {% endif %}

                                    {% if log.fournisseurLog== "" %}
                                        <td></td>
                                    {% else %}
                                        <td>{{ log.fournisseurLog.nom }}</td>
                                    {% endif %}
                                    <td>{{ log.description }}</td>

                                    <td><a href="{{ path('modifier_logiciel', {'id':log.id}) }}">Modifier</a></td>
                                    <td><a href="{{ path('supprimer_logiciel', {'id':log.id}) }}">Supprimer</a></td>

                                </tr>
                                </tbody>


                            {% endfor %}
                        </table>
                        <div class="text-center">{{ knp_pagination_render(logs) }}</div>

                        <script src="{{ asset('jquery-3.2.1.js') }}"></script>

                        <script>
                            $(document).ready( function() {
                                // déterminer l'index des colonnes les colonnes
                                var colonnes = {};
                                $("#contenu thead th").each(function(index, th)
                                    {
                                        colonnes[index] = $(th).text();
                                    }
                                );

// faire la recherche dans le tableau
                                $("#inputDefault").keyup(function()
                                {
                                    var mots = $(this).val().toLowerCase().split(" ");
                                    $("#contenu tbody tr").each(function(index, tr)
                                    {

                                        if (mots[0].length > 0) $(tr).hide(); else $(tr).show();
                                        $("td", tr).each(function(index, td)
                                        {
                                            if (colonnes[index] in {'Nom':true,'Prix':true,'Fablab':true,'Type Logiciel':true,'Fournisseur':true})
                                            {
                                                for (mot in mots)
                                                {
                                                    if (mots[mot].length > 0 && $(td).text().toLowerCase().indexOf(mots[mot])>= 0)
                                                    {
                                                        $(tr).show();
                                                        return false;
                                                    }
                                                }
                                            }
                                        });
                                    });
                                });

                            });
                        </script>
                        </br>
                        </br>
                        </br>

                    </div>
                </div></div></div></div>
    </main>
{% endblock %}


{% block footer %}

{% endblock %}