{% extends '::base.html.twig' %}

{% block body %}
    <div class="alert alert-success fadeOut" role="alert">
        <button type="button" class="close float-right closeJs" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>      
      <h4 class="alert-heading"> page d'evenement</h4>
      <p> evenements :)</p>
    </div>

    <div class="row m-2">
      <div class="col-md-3 pr-5 ">        
        {% block evenement_nav%}
          {{render(controller('evenementsBundle:Evenement:agregate'))}} 
        {% endblock %}
          <a class="btn btn-primary btn-block" href="{{path('evenements_add_event')}}"><i class="fas fa-calendar-week"></i> Ajouter un evenement</a>
      </div>

      <div class="col-md-9">

        <div class="d-flex align-items-center">
          <input type="search" class="form-control col-md-10" placeholder="search...">
          <button class="btn btn-primary ml-2"><i class="fas fa-search"></i> rechercher</button>
        </div>  
          <hr>
        <div class="row">
          <div class="col-md-8">
          {% block evenement_body%}
            <div class="mb-2 d-flex justify-content-between align-items-center">
              <div class="col-md-6">
                <select class="form-control" id="tri">
                  <option value="trending" selected><i class="fas fa-fire"></i> evenements les plus attendus</option>
                  <option value="recents"><i class="fas fa-clock"></i> evenements les plus récents</option>
                  <option value="soon"><i class="fas fa-calendar-alt"></i> evenements les plus proches</option>
                </select>
              </div>
              <span class="float-right"  data-toggle="collapse" href="#filter" role="button" aria-expanded="false" aria-controls="filter"><i class="fas fa-sliders-h"></i></span>              
            </div>
            <div class="collapse" id="filter">
              <div class="border p-2 ">
                <h6>Filtrer par :</h6>
              </div>
            </div>

            {% for e in evenements %}
              <div class="row mb-3 mt-1 shadow rounded p-3" >
                <div class="col-md-5">
                  <img src="{{asset('images/evenements/'~e.urlImage)}}" class="img-fluid" style="position: relative;">
                  {% if e.prix==0 %}
                    <div class="shadow p-2 rounded bg-white" style="position:absolute ; top: 10px; right: 10px;"><small>Gratuit</small></div>
                  {% endif %}
                </div>
                <div class="col-md-7 ">
                  <div class="">
                    <small class="float-right text-muted text-right" ><i >publié le {{e.dateModification |date('d/m/y')}}</i><br>
                    <cite>{{e.user.username}}</cite></small>
                    <h6 class="w-50">{{e.titre}}</h6>
                    <small class="text-muted"><i class="fas fa-calendar-alt"></i> {{e.date|localizeddate('long', 'long', 'null', null)}}</small><br>
                    <small class="text-muted"><i class="fas fa-map-marker-alt"></i> {{e.adresse}}</small><br>
                    <small class="text-muted"><i class="fas fa-eye"></i> 3 vues</small>
                  
                  </div>  
                  <hr>
                  <div class="d-flex justify-content-between ">
                    <div>
                      <a data-toggle="tooltip" data-placement="top" title="partager l'evenement"><i class="fas fa-share-alt mr-3"></i></a>
                      <a data-toggle="tooltip" data-placement="top" title="ajouter à la liste des favoris"><i class="far fa-bookmark mr-3"></i></a>
                      <a><i class="fas fa-ellipsis-v mr-3" data-toggle="tooltip" data-placement="top" title="autre options"></i></a>                      
                    </div>
                    <a href="#" class="btn btn-primary btn-sm">afficher les details <i class="fas fa-caret-right"></i></a>
                  </div>
                </div>
              </div>  
              {% endfor %}
              {% endblock %}
            </div>
          <div class="col-md-4 ">
            <h5 class="ml-1">derniers evenements :</h5>
            {{render(controller('evenementsBundle:Evenement:lastEvents'))}}
          </div>  
      </div>

    </div>
{% endblock %}

{% block javascript %}
 {{parent()}}
  <script src="{{asset('js/evenements/eventBase.js')}}">
  </script>
{% endblock %}