{% extends '::base.html.twig' %}

{% block css %}
  <link rel="stylesheet" href="{{asset('css/evenements/evenements.css')}}">
{% endblock %}

{% block body %}
<div class="alert alert-success fadeOut" role="alert">
  <button type="button" class="close float-right closeJs" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="alert-heading"> page d'evenement</h4>
  <p> evenements :)</p>
</div>

<div class="row m-2">
  <div class="col-md-3 pr-5 ">
    {% block evenement_nav%}
    {{render(controller('evenementsBundle:Evenement:agregate'))}}
    {% endblock %}
    <a class="btn btn-primary btn-block" href="{{path('evenements_add_event')}}"><i class="fas fa-calendar-week"></i>
      Ajouter un evenement</a>
  </div>

  <div class="col-md-9">
    <div>
      <div class=" col-md-12 d-flex align-items-center">
        <input type="search" id="search" class="form-control col-md-7" placeholder="search..." >
        <button class="btn btn-success ml-2"><i class="fas fa-search"></i> rechercher</button>
        <a class="btn btn-primary ml-2" href="{{path('evenements_add_event')}}"><i class="fas fa-plus"></i> Ajouter votre evenement</a>
      </div>
      <div class="col-md-7 p-0" style=" 
      position: absolute;
      display: none;
      left: 30px;
      z-index: 1000;
      min-width: 10rem;
      margin: 0.125rem 0 0;
      font-size: 1rem;
      color: #212529;
      text-align: left;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 0.25rem;" id="searchList">
        <ul class="list-unstyled">
          <li class="d-flex p-2">
            <div class="d-flex align-items-center">
              <div class="col-md-2">
                <img src="{{asset('images/evenements/default.png')}}" class="img-fluid">
              </div>
                <span style="font-size: 0.9rem;"> formation react-native react-js</span>
            </div>
          </li>
          <li class="d-flex p-2">
            <div class="d-flex align-items-center">
              <div class="col-md-2">
                <img src="{{asset('images/evenements/default.png')}}" class="img-fluid">
              </div>
              <span style="font-size: 0.9rem;"> formation react-native react-js</span>
            </div>
          </li>
          <li class="d-flex p-2">
            <div class="d-flex align-items-center">
              <div class="col-md-2">
                <img src="{{asset('images/evenements/default.png')}}" class="img-fluid">
              </div>
              <span style="font-size: 0.9rem;"> formation react-native react-js</span>
            </div>
          </li>                    
        </ul>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-8">
        {% block evenement_body%}
        {% endblock %}
      </div>
      <div class="col-md-4 ">
        <h5 class="ml-1">derniers evenements :</h5>
        {{render(controller('evenementsBundle:Evenement:lastEvents'))}}
      </div>
    </div>

  </div>
  {% endblock %}

  {% block javascript %}
  {{parent()}}
  <script src="{{asset('js/evenements/eventBase.js')}}">
  </script>
  <script>
    search('{{path('evenements_search_event')}}');
    $(document).ready(function () {
      $("#searchList li").hover(function(){
        $(this).css('background-color' ,'#ECECEC');
      },
      function(){
        $(this).css('background-color' ,'white');
      })
      $("#search").click(function(e){
        e.stopPropagation();
        $("#searchList").show();
      });
      $(document).click(function(){
        $("#searchList").hide();
      });
    });
  </script>
  {% endblock %}