{% extends '::base.html.twig' %}

{% block css %}
  <link rel="stylesheet" href="{{asset('css/evenements/evenements.css')}}">
{% endblock %}

{% block body %}
<div class="row m-2">
  <div class="col-md-3 pr-5 ">
    {% block evenement_nav%}
    {{render(controller('evenementsBundle:Evenement:agregate'))}}
    {% endblock %}
    <a class="btn btn-primary btn-block" href="{{path('evenements_add_event')}}"><i class="fas fa-calendar-week"></i>
      Ajouter un evenement</a>
  </div>

  <div class="col-md-9">
    <div>
      <div class=" col-md-12 d-flex align-items-center">
        <input type="search" id="search" class="form-control col-md-7" placeholder="search..." onkeyup="fill('{{asset('images/evenements/')}}')">
        <button class="btn btn-success ml-2"><i class="fas fa-search" ></i> rechercher</button>
        <a class="btn btn-primary ml-2" href="{{path('evenements_add_event')}}"><i class="fas fa-plus"></i> Ajouter votre evenement</a>
      </div>
      <div class="col-md-7 p-0" id="searchList">
        <div class="p-1 pl-4"><span class="text-muted">vos recherches</span></div>
        <ul class="list-unstyled">             
        </ul>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-8">
        {% block evenement_body%}
        {% endblock %}
      </div>
      <div class="col-md-4 ">
        <h5 class="ml-1">derniers evenements :</h5>
        {{render(controller('evenementsBundle:Evenement:lastEvents'))}}
      </div>
    </div>

  </div>
  {% endblock %}

  {% block javascript %}
  {{parent()}}
  <script src="{{asset('js/evenements/eventBase.js')}}">
  </script>
  <script>
    search('{{path('evenements_search_event')}}');
  </script>
  {% endblock %}