{% extends 'AdminBundle::adminEvent.html.twig' %}

{% block title_description %}
creer, modifier, et supprimer vos categories
{% endblock %}

{% block aditional_path %}
{{parent()}}
<li class="breadcrumb-item"><a href="#">categories</a></li>
{% endblock %}

{% block event_body %}
<div class="col-md-4 ml-3 mr-3 tile">
    <h5 class="custom_h">Categories actifs : </h5>
    <hr>
    <ul class="list-group">
        {% for c in categoriesCount %}
        <li class="list-group-item d-flex justify-content-between align-items-center"><span>{{c.nom}}</span><span
                class="badge badge-custom badge-pill"> {{c[1]}} events </span></li>
        {% endfor %}
    </ul>
</div>

<div class="col-md-7 ml-3 tile">
    <h5 class="custom_h">Editez vos categories :</h5>
    <hr>
    <div class="row mb-1">
        <div class="col-md-6">
            <input type="text" name="add_cat" id="add_cat" class="form-control"
                placeholder="entrer un nom d'une categorie">
        </div>
        <div class="col-md-5">
            <button class="btn btn-block custom_button" onClick="addCat('{{path('admin_evenement_add_cat')}}')">Ajouter
                une categorie</button>
        </div>
    </div>
    <hr>
    <div class="d-flex flex-column">
        {% for c in categories %}
        <div class="d-flex justify-content-between col-md-11 m-2 ">
            <div>
                <strong class="mr-3 custom_text">nom categorie: </strong>
                <span>{{c.nom | capitalize}}</span>
            </div>
            <div>
                <button class="btn btn-info" data-id="{{c.id}}"
                    onClick="update(event,'{{path('admin_evenement_update_cat',{id:c.id})}}')"><i
                        class="fa fa-pencil-square-o"></i>
                    modifier</button>
                <button class="btn btn-danger" data-id="{{c.id}} " data-toggle="modal"
                    data-target="#delete_cat_{{c.id}}"><i class="fa fa-trash"></i>
                    supprimer</button>
            </div>
        </div>
        <div class="modal fade" id="delete_cat_{{c.id}}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Supprimer la categorie {{c.nom}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        Attention vous êtes en train de
                        supprimer
                        cette categorie
                        de maniere permanente
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a href="{{path('admin_evenement_delete_cat',{id:c.id})}}" class="btn btn-danger"><i
                                class="fas fa-trash-alt"></i> supprimer</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block additional_js %}
<script src="{{asset('admin_events/js/categories.js')}}"></script>
{% endblock %}